body {
	display: block;
}

h1 {
	margin-button: 7px;
	font-size: 40px;
	line-height: 1.37;
	text-shadow: 0 0 6px #004d99;
}

p {
	border: 1px;
	text-align: justify;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
}

h3 {
	margin-button: 7px;
	font-size: 20px;
	line-height: 1.37;
}

h2 {
	font-weight: bold;
	font-size: 25px;
	text-shadow: 0 0 5px #555555;
}

a {
	color: #0645ad;
	text-decoration: none;
	background: none;
}

table {
	padding: 1em 1em;
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

th {
	text-align: center;
	font-size: 20px;
	padding: 15px;
	background-color: #b7e8ef;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

td {
	text-align: center;
	font-size: 17px;
	padding: 12px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.wiki-page-attribute{
	background-color: #ffffff; 
}